#header{
    background: #333;
    height: 40px;
}
.nav{
    list-style: none;
    background: red;
}
.login{
    list-style: none;
    float: right;
}
.nav-list{
    height: 40px;
    line-height: 40px;
    float: left;
}
.nav-list a{
    color: #b0b0b0;
    font-size: 12px;
    text-decoration: none;
    padding: 0 10px;
    border-left:1px solid #424242;
}
.nav-list a:hover{
    color: #fff;
}
.download{
    position: relative;
}
.download:hover .border-arr{
    display: block;
}
.nav .border-arr{
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
}
.download:hover .code-bar{
    height: 150px;
    text-align: center;
}
.code-bar{
    transition: height .3s ease;
    position: absolute;
    z-index: 100;
    left: 50%;
    margin-left: -50px;
    width: 120px;
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    height: 0;
}
.code-bar img{
    display: none;
}
.code-bar span{
    display: none;
}
.download:hover .code-bar img{
    display: block;
    margin: 18px auto 0px;
}
.download:hover .code-bar span{
    display: block;
    font-size: 16px;
}
.nav-list-first a{
    padding-left: 0;
    border: none;
}
.cart{
    float: left;
    width: 120px;
    position: relative;
    left:0;
    top:0;
    cursor: pointer;
}
.cart-num{
    height: 40px;
    line-height: 40px;
    color:#b0b0b0;
    font-size: 12px;
    background: #424242;
    text-align: center;
}
.cart-list{
    width: 320px;
    height: 100px;
    position: absolute;
    right: 0;
    top:40px;
    text-align: center;
    line-height: 100px;
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
}
.cart:hover .cart-list{
    /* display: block; */
    height: 100px;
    background: #fff;
}
.cart:hover .cart-num{
    color: #ff6700;
    background: #fff;
}
.menu{
    height: 100px;
}
.logo-box{
    float: left;
    margin-top: 22px;
    width: 60px;
    height: 60px;
    text-align: center;
}
.menu-box{
    float: left;
    margin-left:175px;
}
.menu-box-list{
    float: left;
    line-height: 100px;
}
.search-box{
    float: right;
    margin-top: 22px;
    border:1px solid #e0e0e0;
    width: 296px;
    height: 50px;
}
.menu-box-list:hover a{
    color: #ff6701;
}
.menu-box-list a{
    padding:0 11px;
    color: #333;
    font-size: 16px;
}
.search-box input{
    width: 242px;
    height: 50px;
    border:none;
    outline: none;
    text-indent: 10px;
    float: left;
}
.search-box button{
    width:54px;
    height: 50px;
    border:none;
    float: left;
    background: none;
    border-left:1px solid #e0e0e0;
}
.search-box .icon-sousuo{
    color: #616161;
    font-weight: bold;
}
.swiper{
    position: relative;
}
.swiper-nav,.swiper-img{
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
}
.swiper .swiper-nav{
    width: 234px;
    background: rgba(105,101,101,.6);
    z-index: 1;
}
.swiper .swiper-img{
    width: 100%;
    position: relative;
}
.swiper .swiper-nav li{
    height: 42px;
    padding: 0 30px;
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #fff;
}
.swiper .swiper-nav i{
    float: right;
    line-height: 42px;
}
.swiper .swiper-nav span{
    line-height: 42px;
}
.swiper .swiper-nav .swiper-list{
    padding: 20px 0;
}
.swiper .swiper-nav li:hover{
    cursor: pointer;
    background: #ff6700;
}
.swiper .swiper-img li{
    background-image: url("file://E:/GitHub/image/icon-slides.png");
    width: 41px;
    height: 69px;
    position: absolute; 
} 
.swiper .swiper-img .left{
    left: 234px;
    top: 50%;
    margin-top: -35px;
    background-position: -84px;
}
.swiper .swiper-img .right{
    right: 0;
    top: 50%;
    margin-top: -35px;
    background-position: -125px;
}
.swiper .left:hover{
    background-color: rgba(0,0,0,.3);
    background-position: 0px;
}
.swiper .right:hover{
    background-color: rgba(0,0,0,.3);
    background-position: -42px;
}
.hero-sub{
    margin-top: 14px;
    margin-bottom: 26px;
}
.hero-sub .hs-left{
    width: 234px;
    height: 170px;
    float: left;
    background: #5f5750;
}
.hero-sub .hs-right{
    width: 978px;
    height: 170px;
    margin-left: 14px;
    float: left;
}
.hero-sub .hs-left ul{
    padding: 3px;
}
.hero-sub .hs-left img{
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 4px;
}
.hero-sub .hs-left li{
    width: 75px;
    height: 82px;
    position: relative;
    float: left;
    padding: 18px 3px 0;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    font: 12px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
.hero-sub .hs-left li::after{
    position: absolute;
    top: 6px;
    left: 0;
    content: "";
    display: block;
    width: 1px;
    height: 70px;
    background-color: #665e57;
}
.hero-sub .hs-left li::before{
    content: "";
    display: block;
    position: absolute;
    width: 64px;
    height: 1px;
    top: -1px;
    left: 6px;
    background-color: #665e57;
}
.hero-sub .hs-right img{
    width: 316px;
    height: 170px;
    display: block;
}
.hero-sub .hs-right li{
    float: left;
    margin-left: 15px;
}
.hero-sub .hs-right li:first-child{
    margin-left: 0px;
}
.miaosha{
    overflow: hidden;
    background-color: #f5f5f5;
}
.miaosha .ms-top{
    width: 1226px;
    height: 58px;
    margin: 0 auto;
}
.miaosha .ms-top .left-text{
    font: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 28px;
    color: #333333;
    line-height: 58px;
    float: left;
}
.miaosha .ms-top .right-btn{
    float: right;
    line-height: 58px;
}
.miaosha .ms-bottom{
    width: 1226px;
    height: 340px;
    margin: 0 auto;
}
.miaosha .ms-bottom .msb-left{
    width: 234px;
    height: 340px;
    float: left;
    text-align: center;
    background-color: #f1eded;
    border-top:1px solid #e53935;
    padding-top: 39px;
    text-align: center;
    box-sizing: border-box;
}
.miaosha .ms-bottom .msb-right{
    width: 992px;
    height: 340px;
    float: left;
}
.miaosha .msb-left .timer{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}
.miaosha .msb-left img{
    margin: 25px auto ;
}
.miaosha .msb-left .desc{
    color: rgba(0,0,0,.54);
    font-size: 15px;
}
.miaosha .msb-left .time{
    width: 168px;
    margin: 28px auto 0;
}
.miaosha .msb-left span{
    width: 46px;
    height: 46px;
    background-color: #605751;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 46px;
}
.miaosha .msb-left i{
    font-style: normal;
    display: inline-block;
    width: 7px;
    height: 46px;
    font-size: 28px;
    line-height: 46px
}
.miaosha .msb-right li{
    float: left;
    width: 234px;
    height: 339px;
    padding-top: 39px;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    margin-left: 14px;
    position: relative;
}
.miaosha .msb-right img{
    width: 160px;
    height: 160px;
    margin:0 auto 22px;
}
.miaosha .msb-right h3{
    white-space: nowrap;
    margin: 0 20px 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
}
.miaosha .msb-right .introduction{
    color: #b0b0b0;
    font-size: 12px;
    height: 18px;
    margin: 0 20px 12px; 
}
.miaosha .msb-right .price{
    font-size: 14px;
}
.miaosha .msb-right span{
    color: #ff6700;
}
.miaosha .msb-right del{
    color: #b0b0b0;
}
.miaosha .msb-right li:first-child{
    border-top:1px solid #2196f3;
}
.miaosha .msb-right li:nth-child(2){
    border-top:1px solid #e53935;
}
.miaosha .msb-right li:nth-child(3){
    border-top:1px solid #00c0a5;
}
.miaosha .msb-right li:nth-child(4){
    border-top:1px solid #ffac13;
}
.miaosha .msb-right li::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.02);
}
.page-main{
    overflow: hidden;
    height: 1000px;
    background-color: #f5f5f5;
}
.page-main .pm-top{
    width: 1226px;
    height: 120px;
    margin:22px auto;
    background-image: url("file://E:/GitHub/image/2.webp");
    background-size: contain;
}
.page-main .pm-center{
    height: 58px;
}
.page-main .left{
    font: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 58px;
}
.page-main .right{
    font: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 18px;
    color: #333333;
    cursor: pointer;
    line-height: 58px;
    float: right;
}
.page-main i{
    margin-left: 10px;
}

.page-main .right:hover{
    color: #ff6700;
}
.page-main .pm-bottom{
    height: 628px;
}
.page-main .pm-bottom .pmb-left{
    width: 234px;
    height: 628px;
    float: left;
}
.page-main .pm-bottom .pmb-right{
    width: 992px;
    height: 628px;
    float: left;
}
.page-main .pmb-right li{
    float: left;
    width: 234px;
    height: 266px;
    text-align: center;
    background-color: #fff;
    position: relative;
    margin-left: 14px;
    margin-bottom: 14px;
    padding: 20px 0;
    z-index: 1;
    transition: all 0.3s ease;
    margin-top: 0;
}
.page-main .pmb-right li:hover{
    position: relative;
    top: -2px;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.page-main .pmb-right h3{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333333;
    margin: 0 10px 2px;
}
.page-main .pmb-right .introduction{
    font-size: 12px;
    color: #B0B0B0;
    margin: 0 10px 10px;
}
.page-main .pmb-right .price{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #ff6700;
}
.page-main .pmb-right del{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #B0B0B0;
}
.list div{
    width: 84px;
    height: 92px;
    color: #665e57;
}
.list img{
    width: 30px;
    height: 30px;
}
.list{
    width: 84px;
    height: 461px;
    background-color: white;
    position: fixed;
    top:40px;
    left: 50%;
    margin-left: 680px;
    text-align: center;
}
.list div:hover{
    color: #ff6700;
}
